:root {
  --fontITC: "ITC Avant Garde Gothic Pro";
  --fontAvenir: "Avenir-Book";
  --fontAvenirBlack: "Avenir-Black";
  --fontAvenirRegular: "Avenir-Regular";
  --colorText: #000;
  --colorMutedText: #666666;
  --colorWhite: #fff;

  --circleColorOne: #99c3cc;
  --circleColorTwo: #cc9999;
  --circleColorThree: #cb99cc;
  --circleColorFour: #bcd9b2;
}

/* Page Wrapper */
.item-page {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  min-height: 100vh;
  flex-flow: row wrap;
  position: relative;
  --columns: 10;
}

/* Change Child And Easy Responsive ! Must Be Flex Child !!*/
.item-page-info,
.item-page-photo {
  --width: 8;
  --initialbasis: calc((var(--width) / var(--columns)) * 100%);
  --gap: calc((var(--columns) - var(--width)) * 1%);
  flex-basis: calc(var(--initialbasis) - var(--gap));
}

.item-image {
  width: 140%;
  height: 100%;
  background-size: contain;
  background-position-y: 1rem;
  padding-bottom: 5rem;
}
.item-info-header {
  position: absolute;
  bottom: 30rem;
  margin: 0 1.5rem;
}
.item-info-header .item-title {
  font-family: var(--fontITC);
  font-weight: 700;
  line-height: 2.54rem;
  color: var(--colorWhite);
  font-size: 1.25rem;
  width: 19.5rem;
}
.item-info-header .item-sub-title {
  font-family: var(--fontAvenir);
  font-weight: 400;
  line-height: 1.6rem;
  font-size: 1rem;
  padding-top: 0.75rem;
  color: var(--colorMutedText);
  width: 27rem;
  height: 3.25rem;
  opacity: 0.85;
  display: none;
}
.item-info-header .shop-all-link {
  font-family: var(--fontAvenirRegular);
  font-style: normal;
  font-weight: 900;
  line-height: 1.09rem;
  font-size: 0.8rem;
  color: var(--colorWhite);
  padding-top: 1rem;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 0.31rem;
  border-bottom: 1px solid var(--colorWhite);
  margin-bottom: 1rem;
}

.item-page-photo {
  position: relative;
}
.overlay {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.08));
  color: #f1f1f1;
  width: 100%;
  opacity: 1;
  color: white;
  padding: 40%;
  text-align: center;
  margin-bottom: 10%;
}

/* ITEM INFORMATION */

.item-info-slider {
  position: relative;
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  margin: 0 1.5rem;
}

.item-slider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  position: absolute;
  bottom: 3rem;
  width: 110%;
  height: 100%;
  font-family: var(--fontAvenir);
  padding: 0.5rem 0;
}

.item-slider:nth-child(1) {
  margin-left: 2rem;
}

.next-wrapper {
  display: none;
  position: sticky;
  left: 84%;
  top: 16%;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
}

.item .item-picture {
  width: 9.25rem;
  height: 12.5rem;
  margin-right: 0.75rem;
}
.item .item-detail-info .item-name {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.28rem;
  color: var(--colorText);
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
}
.item-slider:nth-child(1) .item .item-detail-info .item-name::after {
  content: "Organic Skinny High Waist Raw Hem Jeans";
}

.item .item-footer .item-price {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.28rem;
}

/* COLORS AND PRICE  */
.item-footer {
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;

  padding-top: 0.5rem;
  flex-direction: column;
}

.item-color-options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.color {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
  margin-right: 0.375rem;
}
.color:first-child {
  border: 1px solid var(--colorText);
}

.color-cyan {
  background-color: var(--circleColorOne);
}
.color-orange {
  background-color: var(--circleColorTwo);
}
.color-purple {
  background-color: var(--circleColorThree);
}
.color-green {
  background-color: var(--circleColorFour);
}

/*DESKTOP SIZES*/
@media only screen and (min-width: 1100px) {
  .item-page-photo {
    --width: 4;
  }
  .item-image {
    min-width: 25rem;
  }
  .item-page-info {
    --width: 2;
    padding: 6rem 0;
    margin-bottom: -4rem;
  }
  .item-info-header {
    position: relative;
    bottom: 0;
    margin: 0;
    margin-bottom: 3.625rem;
  }
  .item-info-header .item-sub-title {
    display: block;
  }
  .item-info-header .item-title {
    line-height: 2.54rem;
    font-size: 1.95rem;
    color: var(--colorText);
    width: 30.875rem;
    height: 7.68rem;
  }
  .item-info-header .shop-all-link {
    color: var(--colorText);
    border-bottom: 1px solid var(--colorText);
    padding-top: 2rem;
  }
  .overlay {
    display: none;
  }
  .item-info-slider {
    height: 100%;
    width: 100%;
    margin: 0;
    margin-top: 4.25rem;
  }
  .item-slider {
    max-width: 40.25rem;
    position: relative;
    height: 100%;
    padding: 2rem 0;
  }
  .item-slider:nth-child(1) {
    margin-left: 0;
  }

  .item-slider:nth-child(1) .item .item-detail-info .item-name::after {
    content: "365 Signature Hoodie";
  }
  .next-wrapper {
    display: flex;
  }

  .item .item-picture {
    width: 14.375rem;
    height: 19.375rem;
    background-repeat: no-repeat;
    margin-right: 2rem;
  }

  .item-footer {
    align-items: center;
    flex-direction: row;
  }
  .item .item-footer .item-price {
    margin-bottom: 0;
  }
  .color {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 0.625rem;
    margin-right: 0.5rem;
  }
}
